.footerContainer {
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
}   

.footerContent {
    background-color: #4169E1;
    max-height: 100%;
    width: 100%;
    height: 50vh;
}
.ellipse03 {
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-bottom: -38vh;
}
